nav {
    max-width: 980px;
    min-height: 60px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
    text-align: center;
}
a:hover {
   color: yellow;
  }

  a:active {
    background-color: yellow;
  }

nav a {
    text-decoration: none;
    color: #fff;
    margin: auto;
    font-weight: 700;
}

#sectionMain{
    
    max-width: 980px;
    height: 100%;
    margin: 20px auto 0 auto;
}


#section-title {
    width: 400px;
    text-align: center;
    margin: 20px auto 0 auto;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar .active{
    color:yellow;
}